---
layout: page
title: Troy Saltiel
subtitle: Master's Student in Remote Sensing and GIS
use-site-title: true
bigimg:
  - "/img/home-banner/ricketts-glen.jpg" : "Ricketts Glen, Pennsylvania, USA (2019)"
  - "/img/home-banner/st-helens.jpg" : "Mt. St. Helens, Washington, USA (2019)"
  - "/img/home-banner/mt-rainier.jpg" : "Mt. Rainier, Washington, USA (2019)"
  - "/img/home-banner/white-clay.jpg" : "White Clay Creek, Delaware, USA (2018)"
  - "/img/home-banner/badlands.jpg" : "The Badlands, South Dakota, USA (2019)"
  - "/img/home-banner/death-valley.jpg" : "Death Valley, California, USA (2018)"
  - "/img/home-banner/kolob-zion.jpg" : "Kolob Canyon, Utah, USA (2020)"
  - "/img/home-banner/montserrat.jpg" : "Montserrat, Catalonia, Spain (2017)"
  - "/img/home-banner/painted-hills.jpg" : "Painted Hills, Oregon, USA (2019)"
  - "/img/home-banner/quartz-mtn.jpg" : "Quartz Mountain, Oregon, USA (2019)"
  - "/img/home-banner/red-castle.jpg" : "Red Castle, Utah, USA (2019)"
  - "/img/home-banner/redwoods.jpg" : "Redwoods, California, USA (2019)"
  - "/img/home-banner/san-lorenzo-spain.jpg" : "Valley of the Fallen, Madrid, Spain (2017)"
  - "/img/home-banner/tetons.jpg" : "Grand Teton, Wyoming, USA (2019)"
  - "/img/home-banner/mt-rainier.jpg" : "Mt. Rainier, Washington, USA (2019)"
---
<h2>Test</h2>
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
